asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.2.3
django-formtools==2.5.1
django-otp==1.6.0
django-otp-yubikey==1.1.0
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
fpdf==1.7.2
google-generativeai==0.5.4
idna==3.10
mysqlclient==2.2.7
numpy==2.3.0
openpyxl==3.1.5
pandas==2.3.0
phonenumbers==9.0.8
pillow==11.2.1
pycryptodome==3.23.0
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
qrcode==7.4.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
YubiOTP==1.0.0
